body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,lightblue,rgb(132, 226, 238), rgb(43, 212, 235),rgb(132, 226, 238),lightblue)
}

/*Bandeau*/
.bandeau {
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(73, 97, 235);
    padding: 10px 0;
    width: 100%;
    box-shadow: 0px 2px 8px 2px rgb(0, 225, 255);
}
.bandeau_inner{margin-top: 0.4em;}
.bandeau_titre .bandeau_retourArriere {
    display: inline-block;
    vertical-align: top;
    position: absolute;
}
.bandeau_titre {
    color: white;
    text-decoration: overline underline;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 20px;
}
.bandeau_retourArriere {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-left: 2px rgb(2, 0, 95);
    border-right: 2px rgb(2, 0, 95);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(73, 97, 235);
    width: 100%;
    box-shadow: 0px 2px 8px 2px rgb(0, 225, 255);
    color: white;
    font-size: 12px;
    padding: 10px 20px;
}

/*Page d'accueil*/
.accueilButton {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 24px; 
    color: black; 
    background-color: hsl(61, 100%, 50%); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin: 40px
}
.accueilButton:hover {
    background-color: #dfbc20; 
    transform: scale(1.05);
    color:white;
}

/*Règles données à l'accueil*/
.rules h1, .infoPartie h1{
    text-align: center; 
    color:hsl(61, 94%, 55%); 
    text-decoration: underline;
    text-decoration-color: #cea907;
    transition: font-size 0.6s ease;
}
.rules h1:hover, .infoPartie h1:hover{
    font-size: 30px;
}
.rules .div1, .rules .div2{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 49%;
    margin: 5px;
    padding: 10px 35px;
    background-color: rgb(133, 217, 245);
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    transition: transform 0.6s ease, text-shadow 0.3s ease;
}
.rules .div1:hover, .rules .div2:hover{transform: scale(1.025);}

/*Tous les lobbys qui récupère des informations de partie*/
.infoPartie {margin-top: 100px;}
.formInfoPartie{
    padding: 20px 20px;
    text-align: center;
    justify-content: center; 
    border-radius: 5px;
    border-color: white;
    border-style:double;
    border-width: 15px;
    font-size: 25px;
    margin-left: 35%;
    margin-right: 35%;
}
.formInfoPartie input{
    margin-top: 10px;
    padding: 5px 20px; 
    font-size: 15px;  
}
.formInfoPartie button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
}
.formInfoPartie button:hover{
    background-color: hsl(61, 100%, 50%); 
    transform: scale(1.05);
    border-radius: 5px;
    padding: 5px 10px;
}
.eye-icon{cursor:pointer;}

/*lobby_admin.html*/
.lobby{
    padding-top: 50px;
    display: grid;
    justify-content: center; 
    align-items: center; 
}
.lobby table{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}
.lobby table th, .lobby table td {
    border: 3px solid rgb(2, 0, 95);
    padding: 10px 15px;
    text-align: center;
}
.tableTitle{
    background-color: rgb(133, 217, 245);
    font-size: 25px;
}
.tablePlayers{
    background-color: rgb(149, 228, 238);
    font-size: 20px;
}
.lobby button{
    padding: 10px 20px; 
    font-size: 15px; 
    color: black; 
    background-color: hsl(61, 100%, 50%); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin: 10px;
}
.lobby button:hover{
    background-color: #dfbc20; 
    transform: scale(1.05);
    color:white;
}


/*Basard*/

.informations{
    position: fixed;
    padding-left: 20px;
}
.informations h4{padding-left: 35px;}
.informations .div1, .informations .div2{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 49%;
    padding: 10px 25px;
    font-size: 15px;
}

.titre {
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(73, 97, 235);
    color: rgb(10, 35, 179);
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 20vh; 
}

hr {
    width: 80%;
    color: rgb(73, 97, 235);
    height: 5px;
    background-color: rgb(73, 97, 235);
    border:none;
}

.gras{font-weight: bold;}
.italique{font-style: italic; font-size: 13px;}
.souligne{text-decoration: underline;}
.rouge{color: red;}
.bleu{color: blue;}
.jaune{color:yellow;}
.vert{color: green;}