body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }

/*Bandeau/Footer speciaux pour la grille*/
.bandeauGrille {
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2C887C;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0px 2px 8px 2px #2C887C;
    z-index: 20;
}
.footerGrille {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #2C887C;
    width: 100%;
    box-shadow: 0px 2px 8px 2px  #2C887C;
    color: white;
    font-size: 12px;
    padding: 10px 20px;
    z-index: 20;
}

/* Pour la grille */
#output-image {
    position: fixed;
    top: 100px;     /* Positionner à 100px du haut du conteneur */
    left: 100px;
}
        
/* Conteneur de l'image */
#pos {
    position: relative; 
    z-index: 9;
    background-color: transparent;
    text-align: center;
    border: none;
}

/* Zone de déplacement */
.posi {
    cursor: move;
    z-index: 10;
    background-color: transparent;
    color: transparent;
    position: absolute; /* Position absolue pour les éléments à déplacer */
}

/* Supprimer la bordure de l'image */
.posi img {
    border: none;
    display: block; /* Pour éviter l'espacement au-dessous de l'image */
    max-width: 100%; /* Ajuste la taille de l'image dans son conteneur*/
}

/* Pour afficher un message temporaire */
.temporaire {
    width: 200px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(255, 0, 0, 0.7); /* Fond rouge avec transparence */
    color: white;
    line-height: 30px;
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Initialement caché */
}
/* Pour rendre l'élément visible */
.temporaire.visible {
    opacity: 1;
    visibility: visible; /* Rendre l'élément visible */
}

button{
    margin: 0px 40px;
    cursor: pointer; 
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
}
button:hover{
    background-color: #B3B3B3; 
    transform: scale(1.05);
    border-radius: 5px;
    padding: 5px 10px;
}

#haut_droite {
    position: fixed;
    top: 100px;
    left: 86%;
    text-align: left; /
}

.hrGrille {
    position: fixed;
    right: 5px;
    width: 15%;
    color: #2C887C;
    height: 5px;
    background-color: #2C887C;
    border:none;
}
.VerticalLineGrille {
    position: fixed;
    right: 15%;
    top: 0;
    width: 5px;
    height: 500vh;
    background-color: #2C887C;
    transform: translateX(-50%);
}
.infosGrille{
    position: fixed;
    left: 85%;
    top: 0;
    background-color: #A5DCD7;
    width: 500px;
    height: 500vh;
}

.encadre{
    display: inline-block;  /* Change le comportement pour qu'il soit en bloc mais en ligne */
    padding: 5px 5px;      /* Ajoute de l'espace autour du texte */
    border: 2px solid rgb(0, 27, 31); /* Crée un cadre autour du texte */
    background-color:#7FC0B7;
    color: black;
    cursor:default;
}

h3 {
    padding: 0px 40px;
    font-size: 25px;
    text-decoration: underline;
}
