body {
    font-family: : Arial, sans-serif;
    background: linear-gradient(to right,lightblue,rgb(132, 226, 238), rgb(43, 212, 235),rgb(132, 226, 238),lightblue)
}

.bandeau {
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(73, 97, 235);
    padding: 10px 0;
    width: 100%;
    box-shadow: 0px 2px 8px 2px rgb(0, 225, 255);
}

.bandeau_titre .bandeau_home {
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

.bandeau_titre {
    color: white;
    text-decoration: overline underline;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 20px;
}
.bandeau_home {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.container {
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 30vh; 
}

.custom-button {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 24px; 
    color: black; 
    background-color: hsl(61, 100%, 50%); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin: 40px
}

.custom-button:hover {
    background-color: #dfbc20; 
    transform: scale(1.05);
    color:white;
}

hr {
    width: 80%;
    color: rgb(73, 97, 235);
}

.rules h1, .nouvellePartie h1 , .rejoindrePartie h1{
    text-align: center; 
    color:hsl(61, 100%, 50%); 
    text-decoration: underline;
    text-decoration-color: #dfbc20;
    transition: font-size 0.6s ease;
}

.rules h1:hover, .nouvellePartie h1:hover, .rejoindrePartie h1:hover{
    font-size: 30px;
}

.rules .div1, .rules .div2{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 49%;
    margin: 5px;
    padding: 10px 35px;
    background-color: rgba(133, 217, 245, .1);
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    transition: transform 0.6s ease, text-shadow 0.3s ease;
}

.rules .div1:hover, .rules .div2:hover{
    transform: scale(1.025);    
}

.nouvellePartie, .rejoindrePartie {
    margin-top: 100px;
}
.formNouvellePartie, .formRejoindrePartie{
    padding: 20px 20px;
    text-align: center;
    justify-content: center; 
    border-radius: 2px;
    border-color: white;
    border-style:double;
    font-size: 25px;
}
.formNouvellePartie input, .formRejoindrePartie input{
    margin-top: 10px;
    padding: 5px 20px; 
    font-size: 15px;  
}
.formNouvellePartie button, .formRejoindrePartie button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 8px;
}
.formNouvellePartie button:hover, .formRejoindrePartie button:hover{
    background-color: hsl(61, 100%, 50%); 
    transform: scale(1.05);
    border-radius: 5px;
    padding: 5px 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(73, 97, 235);
    width: 100%;
    box-shadow: 0px 2px 8px 2px rgb(0, 225, 255);
    color: white;
    font-size: 12px;
    padding: 10px 20px;
}

.gras{font-weight: bold;}
.italique{font-style: italic; font-size: 13px;}
.souligne{text-decoration: underline;}
.rouge{color: red;}
.bleu{color: blue;}
.jaune{color:yellow;}
.vert{color: green;}