<!DOCTYPE html>
<html>

<title> BLOKUS PP2I grp6 - FIN DE PARTIE </title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='/icon/icon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>

<body>
<div class="bandeau"> 
    <div class="bandeau_inner"> 
        <a href="/" class="bandeau_titre"> Jeu du BLOKUS </a> 
        <a href="/historique/{{id_game}}/true" class="bandeau_retourArriere"> Historique détaillé de votre partie </a>
    </div>
</div>

<div class="infoPartie">
    <br>
    <h1>C'est la fin de votre partie ! </h1>
</div>
    <br> <br>
<div class="infosFinPartie">
    <h2> Découvrez vos scores :</h2>
    <table>
        <thead>
            <tr>
                <td> Joueur </td>
                <td> Score </td>
            </tr>
        </thead>
        <tbody>
        {% for i in range(score|length) %}
            <tr>
                <td> {{liste_joueur[i]}} </td>
                <td> {{score[i]}} </td>
            <tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>

<div class="footer">
    <span class="gras souligne"> Crédits:</span> Briand Thibault, Regennass Anne, Girres Elisa, Denys Angèle
</div>

<script>
    const son = new Audio('{{ url_for("static", filename="sounds/blipSelect1.wav") }}');
    
    document.addEventListener("DOMContentLoaded",()=>{
        document.querySelectorAll('button').forEach(button =>{
            button.addEventListener('click',() =>{
                console.log("son")
                son.play();
            });
        });
    });
</script>