<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='/icon/icon.png') }}" type="image/png">
    <title>Fin de partie</title>
</head>
<body>
    <a>C'est la fin de votre partie</a>
    {% for i in range(score|length) %}
        <p>Le score de {{liste_joueur[i]}} est de {{score[i]}}</p>
    {% endfor %}
</body>
<script>
    const son = new Audio('{{ url_for("static", filename="sounds/blipSelect1.wav") }}');
    
    document.addEventListener("DOMContentLoaded",()=>{
        document.querySelectorAll('button').forEach(button =>{
            button.addEventListener('click',() =>{
                console.log("son")
                son.play();
            });
        });
    });
</script>