<title>BLOCKUS</title>

<p>Commencez à jouer</p>
<a href = >Quitter</a>

<h1>Ajout d'un coup dans la table des coups</h1>
<form action="/submit" method="POST">
    <label>ID Game</label>
    <input type="number" name="id_game" required>
    <label>numéro coups</label>
    <input type="number" name="id_move" required>
    <label>Id piece</label>
    <input type="text" name="id_piece" required>
    <label>Couleur joueur</label>
    <input type="text" name="color" required>
    <label>Position en x</label>
    <input type="number" name="position_x" required>
    <label>Position en y</label>
    <input type="number" name="position_y" required>
    <label>Rotation de la piece</label>
    <input type="number" name="rotation" required>
    <label>Piece retournée ?</label>
    <input type="test" name="flip" required>
    <button type="submit">Envoyer</button>
</form>