<!DOCTYPE html>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partie</title>
    <link rel="stylesheet" href="../static/CSS/style_grille.css">
    <div>
        <img id="output-image" src="" alt="Image" height=800 width=800>
        <!-- la position de la grille est : X = 120 et Y = 160 et 760 de hauteur avec 20 cases-->
    </div>
</head>

<body>

    <!-- Conteneur = pos et sous-conteneur = posi -->
    {% for coord in coords %}
        {% if coord is iterable %}
            <div class="posi" style="left: {{ coord[0] }}px; top: {{ coord[1] }}px;">
                <!-- Utilise loop.index pour changer le nom de l'image dynamiquement et les pièces sont posées-->
                <img id = "Image{{ loop.index }}" src="../static/piece/{{ color }}/{{ loop.index }}.png" alt="Piece" height="200" width="200">
            </div>
        {% endif %}
    {% endfor %}

    <div id="haut_droite">
    <p>Position de l'image : <span id="coords">X: 0, Y: 0</span></p>
    <p><br>Position carré : <span id="carre">X: 0, Y: 0</span></p>
    <p><br>C'est au tour du joueur avec les pièces <span id="couleur_joueur">B</span> de jouer</p>
    <p id='temporaire' class='temporaire'>Vous ne pouvez pas faire ce coup</p>
    <p id='tempo' class='temporaire'>Ce n'est pas votre tour</p>
    <button id="myButton">Valider le coup</button>
    </div>
    <script>
        const id_game = "{{id_game}}"
        const color = "{{color}}"
        const nb_joueur ="{{nb_joueur}}"
        const socket = io();
        socket.on('connect', () => {
            console.log('Socket connecté');
            socket.emit('join_room', { room: id_game })
        });
        socket.on('update_grille', ()=>{
            console.log("la grille a changé")
            updategrille();
        })
        socket.on('fin_de_partie', ()=>{
            fin_de_partie();
        })
        socket.on('tour_joueur', ()=>{
            tour_joueur();
        })
    </script>
    <script src="../static/js/js_grille.js"></script>

</body>

</html>


