<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generator</title>
</head>
<body>
    <form onsubmit="submitForm(event)">
        <label for="number">Entre le numéro de la partie:</label>
        <input type="number" id="number" name="number" required>
        <button type="submit">Generée l'image</button>
    </form>
    <div>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }
            #output-image {
                position: fixed;
                top: 100px;     /* Positionner à 100px du haut du conteneur */
                left: 100px;
            }
        </style>
        <img id="output-image" src="" alt="Image" height=800 width=800>
        <!-- la position de la grille est : X = 120 et Y = 160 et 760 de hauteur avec 20 cases-->
    </div>
</body>
</html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Déplacer une image</title>
    <style>
        /* Conteneur de l'image */
        #pos {
            position: relative;  /* Assurez-vous que le parent est positionné */
            z-index: 9;
            background-color: transparent;
            text-align: center;
            border: none;  /* Assurez-vous qu'il n'y a pas de bordure */
        }

        /* Zone de déplacement */
        .posi {
            cursor: move;
            z-index: 10;
            background-color: transparent;
            color: transparent;
            position: absolute; /* Position absolue pour les éléments à déplacer */
        }

        /* Supprimer la bordure de l'image */
        .posi img {
            border: none;  /* Supprimer toute bordure autour de l'image */
            display: block; /* Pour éviter l'espacement au-dessous de l'image */
            max-width: 100%; /* Optionnel, ajuste la taille de l'image pour qu'elle soit responsive */
        }
    </style>
</head>

<body>
    <!-- Conteneur = pos et sous-conteneur = posi -->
    {% for coord in coords %}
        {% if coord is iterable %}
            <div class="posi" style="left: {{ coord[0] }}px; top: {{ coord[1] }}px;">
                <!-- Utilise loop.index pour changer le nom de l'image dynamiquement -->
                <img id = "Image{{ loop.index }}" src="../static/piece/{{ color }}/{{ loop.index }}.png" alt="Piece" height="200" width="200">
            </div>
        {% endif %}
    {% endfor %}

    <!-- Donne les coordonnées de la pièce choisie juste avant -->
    <p>Position de l'image : <span id="coords">X: 0, Y: 0</span></p>
    <p><br>Position carré : <span id="carre">X: 0, Y: 0</span></p>
    <button id="myButton">Valider le coup</button>
    <script>
        //fonction de génération de l'image de grille : 
        async function genere_grille(id_game) {

            const response = await fetch("/generate", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ number: id_game }),
            });

            const result = await response.json();

            if (response.ok) {
                // Met a jour l'image
                document.getElementById("output-image").src = result.image_url + '?' + new Date().getTime();
            } else {
                alert(result.error || "Une erreur a eu lieu");
            }
        }

        
        
        // Sélectionne toutes les images et applique la fonction glisseElement à chacune
        let elements = document.querySelectorAll('.posi');
        elements.forEach(element => {
            glisseElement(element);
        });

        var elementReel = ""
        var retourne = 1
        var rotation = 0
        var carreX = 0
        var carreY = 0
        let envoie = null

        async function envoieValeur(carrX, carrY, retourne, rotation , element) {
            var id_game = "{{id_game}}" ;
            var color = "{{color}}";
            const response = await fetch("/submit22", { //il faut envoyer idgame et la couleur du joueur d'une manière ou d'une autre
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ carrX: carrX, carrY: carrY , retourne : retourne , rotation : rotation , element : element , color : color , id_game :id_game}),
            });
        
            if (response.ok) {
                console.log("reponseok")
                const result = await response.json();
                if (result.status == "coup valide"){
                    console.log("coup valide")
                    var id_game = "{{id_game}}";
                    genere_grille(id_game)
                //delete element
                console.log('Réponse du serveur:', result);}
                else{
                    //envoyer message d'erreur
                }
            } else {
                console.error('Erreur dans la réponse:', response.status);
            }
        }

        function glisseElement(element) {
            let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            let doubleClic = false;
            // Quand la souris sélectionne l'image, on lance une nouvelle fonction
            element.addEventListener('dblclick',function (){
                flip(element.querySelector("img"))
                doubleClic = true;
            })
            element.querySelector("img").onmousedown = function(event){
                event.preventDefault();
                if (doubleClic) {
                    doubleClic = false;
                    return;
                }
                else if (event.button === 2) {
                    tourne(element.querySelector("img"));
                    return;
                }
                else if (event.button === 0){
                    // Sinon, on commence à glisser l'élément
                    glisseSourisAppuie(event,element);
                }
            }
        }
            
            function flip(e) {
                var scaleX_valeur = window.getComputedStyle(e).transform;
                if (scaleX_valeur === 'none' || scaleX_valeur === 'matrix(1, 0, 0, 1, 0, 0)' || scaleX_valeur === 'matrix(0, -1, 1, 0, 0, 0)' || scaleX_valeur === 'matrix(0, 1, -1, 0, 0, 0)' || scaleX_valeur === 'matrix(-1, 0, 0, -1, 0, 0)') {
                    retourne = -1
                    e.style.transform = `scaleX(-1)`;
                }
                else {
                    retourne = 1
                    e.style.transform = `scaleX(1)`;
                }
            }

            function tourne(e) {
                // Donne valeur numérique de la rotation
                rotation = e.style.transform.replace(/[^\d.]/g, '') || 0;
                // Rotation de 90 degrés à partir de l'image actuelle
                rotation = (parseInt(rotation) + 90) % 360;
                e.style.transform = `rotate(-${rotation}deg)`;
            }

            function glisseSourisAppuie(e,element) {
                // Empêche le comportement par défaut du navigateur
                e.preventDefault();
                // Capturer la position de la souris au moment du clic
                pos3 = e.clientX;
                pos4 = e.clientY;
                // Attacher les événements pour déplacer l'élément
                document.onmouseup = function() { arreteGlisseElement(element); };
                document.onmousemove = function(event) { elementGlisse(event, element); };
            }

            function elementGlisse(e,element) {
                e.preventDefault();
                // Calculer la nouvelle position de l'élément
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // Déplacer l'élément, element.offset... donne la position entre le parent et l'élément
                element.style.top = (element.offsetTop - pos2) + "px";
                element.style.left = (element.offsetLeft - pos1) + "px";
            }

            function arreteGlisseElement(element) {
                // Arrête le déplacement lorsque la souris est relâchée
                document.onmouseup = null;
                document.onmousemove = null;
                // Met à jour les coordonnées à la fin du déplacement
                updateCoords(element);
            }

            // Affiche les coordonnées actuelles
            function updateCoords(element) {
                // Récupère la position de l'élément
                var pos = element.getBoundingClientRect();
                // Pour le centre de l'image
                var centerX = Math.round(pos.left + pos.width / 2);
                var centerY = Math.round(pos.top + pos.height / 2);
                placementGrille(centerX,centerY,element)
                var coordsText = "X: " + centerX + ", Y: " + centerY;
                // Met à jour
                document.getElementById("coords").textContent = coordsText;
            }
            
            function placementGrille(x,y,element) {
                var element = element.querySelector("img")
                // Le numéro de la case
                carreX = Math.round(((x-120)/760)*20)
                carreY = Math.round(((y-120)/760)*20)
                // Affiche le carré où va la pièce
                var carreText = "X: " + carreX + ", Y: " + carreY;
                document.getElementById("carre").textContent = carreText;
                elementReel = element.id;
                // Pour ne pas appeler valider le nombre de fois où l'on a cliqué sur le bouton Valider 
                console.log(envoie)
                if (envoie != null) {
                    document.getElementById("myButton").removeEventListener("click",envoie);
                }
                envoie =  function() {
                    valider(elementReel);
                }
                document.getElementById("myButton").addEventListener("click",envoie);
            }

            function valider(element) {
                envoieValeur(carreX,carreY, retourne, -rotation , element);
                var nonid = document.getElementById(element)
                // Supprime la pièce
                nonid.remove();
            }
    </script>
</body>

</html>


