<title> BLOKUS PP2I grp6 </title>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>

<body>
<div class="bandeau"> 
    <div class="bandeau_titre"> Jeu du BLOKUS </div> 
    <a class="bandeau_home" href="/"> Accueil </a>
</div>

<div class="rejoindrePartie">
    <h1>Entrez les informations pour rejoindre votre partie !</h1>
    <br> <br>
    <div class="formRejoindrePartie">
        <form action="/join" method="POST">
            <p><label for="name">Inscrivez votre pseudo</label> <br>
            <input type="text" id="name" name="name" placeholder="Votre nom" required> </p>
            <p><label for="game">Quel est le nom de votre partie ?</label> <br>
            <input type="text" id="game" name="game" placeholder="Votre nom de partie" required></p>
            <p><label for="password">Ecrivez le mot de passe de cette partie</label> <br>
            <input type="text" id="password" name="password" placeholder="Votre password" required></p>
            <p><button type="submit"> Entrer dans la partie</button> </p>
        </form>
    </div>
    </div>
    </body>

<div class="footer">
    <span class="gras souligne"> Crédits:</span> Briand Thibault, Regennass Anne, Girres Elisa, Denys Angèle
</div>