<body>
    <h1>SUPERBE PARTIE DE BLOCKUS</h1>
    <table border="1" id="tupleTable">
        <tr>
            <th>VOUS ETES UN ADMIN</th>
        </tr>
    </table>

    <script>
        const idgame = "{{ idgame }}"
        function fetchData() {
            fetch(`/getdatagame/${idgame}`) //envoie une requête pour avoir le json
                .then(response => response.json()) // transforme pour pouvoir traiter la requête
                .then(data => {
                    const table = document.getElementById('tupleTable'); //on va chercher ici la table html
                    table.innerHTML = `
                        <tr>
                            <th>Name</th>
                        </tr>
                    `; // L'intérieur de la table c'est maintenant ce que précède
                    data.forEach(([name]) => {
                        const row = document.createElement('tr'); // on a une nouvelle ligne
                        row.innerHTML = `<td>${name}</td>`;
                        table.appendChild(row); // on rajoute la nouvelle ligne
                    });
                })
                .catch(error => console.error('Error fetching data:', error)); // envoie une erreur si le programme explose
        }
        function launch(){
            fetch(`/getdatalaunch/${idgame}`)
                .then(response =>response.json())
                .then(data =>{
            if (typeof data === 'undefined' || data === null) {
                return; // ON FAIT EXPLOSER
            }
            if (data !== -1) {
                // si c'est different de -1
                window.location.href = '/grille';
            }}
        )
        .catch(error => {
            return;
        });

        }
        setInterval(launch,3000);
        setInterval(fetchData, 3000);

        fetchData();
    </script>
    <button id="myButton" onclick="sendRequest()">LANCER LA PARTIE!</button>

    <script>
        function sendRequest() {
            // Envoie la requête qui va modifier la base de donnée pour lancer la partie
            fetch(`/launchgame/${idgame}`, {
                method: 'POST'
            })
            return false;  
        }
    </script>